/*
html5 boilerplate*
*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1;}

html{font-size:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;}
body,button,input,select,textarea{font-family:sans-serif;color:#222;}

::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::selection{background:#fe57a1;color:#fff;text-shadow:none;}

a:focus{outline:thin dotted;}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,a:active {outline: 0;}

abbr[title]{border-bottom:1px dotted;}

b,strong{font-weight:bold;}

blockquote{margin:1em 40px;}

dfn {font-style: italic;}

hr{display:block;height: 1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}

ins{background:#ff9;color:#000;text-decoration:none;}

mark{background:#ff0;color:#000;font-style:italic;font-weight:bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em;}

/* Improve readability of pre-formatted text in all browsers */
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}

q{quotes:none;}
q:before,q:after{content:"";content: none;}

small{font-size:85%;}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

ul, ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style: none;margin:0;padding:0;}

img{border:0;-ms-interpolation-mode:bicubic;}

svg:not(:root){overflow: hidden;}

figure{margin:0;}

form{margin:0;}
fieldset{border:0;margin:0;padding:0;}

legend{border:0;*margin-left:-7px;padding:0;}

/* Indicate that 'label' will shift focus to the associated form element */
label{cursor: pointer;}

button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}

button,input{line-height:normal;*overflow:visible;}

button,input[type="button"],input[type="reset"],input[type="submit"]{cursor: pointer;-webkit-appearance:button;}

input[type="checkbox"],input[type="radio"]{box-sizing: border-box;}
input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}

button::-moz-focus-inner,input::-moz-focus-inner{border: 0;padding:0;}

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea{overflow:auto;vertical-align:top;}

/* Colors for form validity */
input:valid,textarea:valid{}
input:invalid,textarea:invalid{background-color:#f0dddd;}

table{border-collapse:collapse;border-spacing: 0;}

/*
primary styles
*/

/*elements*/

	/*fonts*/
	h1{color:#8fbdd4;font-family:"Pacifico","Helvetica","Arial",Sans-Serif;font-size:2em;font-weight:300;line-height:1em;text-shadow:1px 1px 0px #ffffff;}/*page titles*/
	h2{color:#333333;font-size:1.8em;font-weight:600;line-height:1em;}/*reserved for sub page titles/site*/
	h3{color:#333333;;font-size:1.6em;font-weight:600;text-transform:uppercase;}/*content titles*/
	h4{}/*in content titles, first level*/
	h5{color:#333333;font-size:1.4em;font-weight:300;text-transform:uppercase;}/*in content titles, second level*/
	
	.post p{color:#333333;font-size:1.1em;line-height:1.5em;margin-bottom:10px;}
	sub{}
	small{}
	
		/*specialized*/
		.metadata h3,.metadata h5{color:#b0b0b0;}
		/*@*/
		
	/*@*/
	
	/*icons and logos*/

	/*@*/
	
	/*anchors*/
	a{color:#555555;text-decoration:none;}
		a:hover,a:focus{text-decoration:underline;}
		
		nav a{padding-bottom:2px;}
			nav a:hover,nav a:focus{border-bottom:1px solid #8fbdd4;text-decoration:none;}
			nav a.active{border-bottom:1px solid #8fbdd4;font-weight:600;}
		
		.readinglist a{border-bottom:1px solid #c0c0c0;color:#333;display:block;transition:all 300ms ease-in 200ms;}
			.readinglist a:last-child{border-bottom:none;}
			.readinglist a:hover,.readinglist a:focus{background:#e6e6e6;box-shadow:0px 10px 15px #a0a0a0;text-decoration:none;transform:scale(1.1);}
		
		.latest{border-bottom:1px solid #8fbdd4;color:#8fbdd4;font-family:"Quicksand","Helvetica","Arial",Sans-Serif;font-size:1em;font-weight:600;margin-right:10px;padding-bottom:2px;text-shadow:1px 1px 0px #ffffff;}
			.latest:hover{text-decoration:none;}
			.thought{font-style:italic;}
		
	/*@*/
	
	/*lists*/
	
		/*@#primarynav*/
		#primarynav li{display:inline;margin-right:10px;}
		/*@*/
		
		/*@.readinglist*/
		.readinglist{}
			.readinglist li{list-style-type:none;}
			.readinglist .listcontainer{padding:10px;}
				.readinglist .title{font-size:1em;font-weight:600;}
				.readinglist .listdata{font-size:0.9em;}
		/*@*/
	
	/*.tooltip*/
	.tooltip{display:none;font-weight:600;}
		
		#logo:hover .tooltip{background:#8fbdd4;border-bottom-left-radius:30px 30px;border-bottom-right-radius:3px;border-top-left-radius:30px 30px;border-top-right-radius:3px;box-shadow:5px 5px 0px #a0a0a0;color:#f2f2f2;display:block;left:320px;padding:10px 20px;position:absolute;top:15px;}
	/*@*/
	
	/*@*/
	
/*@--@*/

/*structure*/

	/*@#masthead*/
		#masthead{background:#f0f0f0;border-bottom:1px solid #d0d0d0;box-shadow:inset 0 -10px 20px -10px #d0d0d0;height:65px;max-width:100%;}
	/*@*/
	
	/*@header*/
		#siteheader{margin:20px auto;max-width:1140px;}
		
			/*@#feed*/
			#feed{text-align:right;}
			/*@*/
	/*@-@*/
	
	/*@#aboutme*/
	#siteintro{max-width:1140px;margin:0 auto;}
	#aboutme{background:#333333 url(../img/backgrounds/thatched.png) repeat top left;box-shadow:0px 0px 5px #000;margin-bottom:20px;max-width:100%;min-height:400px;}
	/*@*/
	
	/*@#main*/
	#contentarea{overflow:visible;}
			/*@.metadata*/
			.metadata{border-left:1px solid #222222;float:right;padding-bottom:10px;padding-left:20px;padding-top:10px;}
			/*@*/
			
			/*@.post*/
			.post{margin-bottom:20px;padding-top:5px;}
				.postheader{margin-bottom:20px;}
			/*@*/
			
			/*@.contentextender*/
			.contentextender{background:#f0f0f0;border:1px solid #d0d0d0;box-shadow:inset 0px 0px 10px #d0d0d0;margin-bottom:20px;}
			/*@*/
	/*@-@*/
	
	/*@!footer*/
	#sitefooter{margin-bottom:20px;}
	/*@-@*/

/*@--@*/




/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 767px) {
  /* Style adjustments for viewports 480px and over go here */
	#masthead{height:auto;}
	#feed{margin-top:20px;text-align:left;}
	
	.contentextender{margin:20px!important;padding:0!important;}
}

@media only screen and (max-width: 968px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
